:root {
  --wine-red: #C7375F;
  --bright-red: #D42D2F;
  --dark-green: #344D2F;
  --light-green: #77A047;
  --gold: #FAC57D;
  --snow: #F0F4F7;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(https://media.istockphoto.com/photos/christmas-decoration-with-copy-space-on-a-rustic-wooden-table-picture-id1184143791?k=20&m=1184143791&s=612x612&w=0&h=mXYOd0Ulm-nS6TOjGPdoaVdfQSOzYhapc6tf08qiCWw=);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

body #enjoy {
    display: none;
}

body.snow {
    background-image: url(https://th-thumbnailer.cdn-si-edu.com/V8ahPc5OXXqW_cVuB3X5zsqBFKM=/fit-in/1600x0/https://tf-cmsv2-smithsonianmag-media.s3.amazonaws.com/filer/43/0c/430ce021-3089-415f-bb2d-340465beed4e/2204449610_6a0aa9d569_o.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

body.snow #greeting {
    display: none;
}

body #greeting {
    display: block;
    font-family: 'Mountains of Christmas', cursive;
    color: var(--gold)
}

body.snow #enjoy {
    display: block;
    font-family: 'Lobster Two', cursive;
    color: goldenrod;
}

p {
    display: block;
    font-size: 45px;
    text-align: center;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.label {
    position: absolute;
    top: 2rem;
    background-color: green;
    height: 26px;
    width: 70px;
    border-radius: 50px;
}

.circle {
    background-color: var(--snow);
	border-radius: 70%;
	position: absolute;
	top: 0;
	left: 7px;
	height: 26px;
	width: 25px;
    transform: translateX(0px);
    transition: transform 0.2s linear;
}
#check {
    display: none;
}

#check:checked + .label .circle {
	transform: translateX(34px);
}

.hohoho {
    position: relative;
    left: 0.5rem;
    top: 0.15rem;
    font-size: 20px;
}

.snow-man {
    font-family: 'Lobster Two', cursive;
    position: relative;
    left: 0.3rem;
    top: 0.15rem;
    font-size: 20px;
}
